.custom-404-container {
    padding: 70px;
    background: #FFFFFF;
    box-shadow: 0px 7px 26px rgba(207, 220, 230, 0.5);
    border-radius: 20px;
    width: 590px;
}

.custom-404-container header {
    margin-bottom: 70px;
    align-content: center;
}

.logo_404 {
    background-image: url('src/assets/login/logo_login.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 350px;
    height: 58px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.custom-404-container p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.custom-404-container .buttons {
    margin-top: 100px;
    text-align: center;
}

.splash_image {
    background-image: url('src/assets/404/404_image.png');
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: right;
}

