<nav class="navbar navbar-expand-lg navbar-light banner principal-navbar">
  <div class="container nav-header-container">
    <a class="navbar-brand" href="/">
      <img src="assets/logo.png" alt="logo" width="350px" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div *ngIf="authData === null" class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="row">
        <div class="col auth-info">
          Broker: Gustavo Adolfo Rodriguez Quinayas
          <br />
          ID: 100234568
        </div>
      </div>
      
    </div>

    <button *ngIf="authData === null" class="exit" (click)="logout()"></button>

  </div>
</nav>