<section class="vh-100 overflow-hidden" style="background-color: #EEEEEE;">

    <div class="row vh-100 overflow-hidden">

        <div class="logo_404"></div>

        <div class="col-md-6 col-lg-6 col-xl-6 vh-100">
            <section class="vh-100 splash_image"></section>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-6 vh-100 justify-content-center">

            <div class="row vh-100 justify-content-center align-items-center">

                <section class="container-fluid h-custom mt-5 custom-404-container">
                    <div class="col-12">
                        <h2 class="bun_blue">Parece que la página a la que intentabas acceder no se ha encontrado.</h2>
                        <p>Pero no te preocupes, puedes volver a intentarlo.</p>
                    </div>
                    <div class="buttons">
                        <button class="principal_blue" style="margin: auto;" (click)="close()">Cerrar</button>
                    </div>
                </section>
            </div>

        </div>
       
    </div>

</section>

<!--<app-loader></app-loader>-->

<!--
https://dev.to/rodrigokamada/adding-the-google-recaptcha-v2-to-an-angular-application-1o7o
-->