.custom-login-container {
    padding: 70px;
    background: #FFFFFF;
    box-shadow: 0px 7px 26px rgba(207, 220, 230, 0.5);
    border-radius: 20px;
    width: 590px;
}

.custom-login-container header {
    margin-bottom: 70px;
    align-content: center;
}

.logo_login {
    background-image: url('src/assets/login/logo_login.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 350px;
    height: 58px;
}

.custom-login-container p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}

.custom-login-container .buttons {
    margin-top: 15px;
}

.splash_image {
    background-image: url('src/assets/login/section_image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    border-top-left-radius: 100px;
}

