.custom-container {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 7px 26px rgba(207, 220, 230, 0.5);
    border-radius: 15px;
}

.detail-left {
    margin-top: 10px;
    font-size: 14px;
}

.detail-left .detail-icon{
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    width: 10%;
    background-repeat: no-repeat;
}

.detail-left .container {
    display: inline-block;
    vertical-align: top;
    width: 85%;
}

.detail-left .container h6 {
    font-size: 14px;
    font-weight: bold;
}

.content-person .group {
    width: 149px !important;
}

.content-person {
    width: 225px !important;
}

.content-person {
    cursor: pointer;
}