<div class="row content-table">
    <div class="col-12">
        <h2>Lista de créditos</h2>
        <table>
            <thead>
                <th>Número de solicitud</th>
                <th>Número de identificación</th>
                <th>Nombre del cliente</th>
                <th>Analista asignado</th>
                <th>Fecha de la solicitud</th>
                <th>Monto solicitado</th>
                <th>Monto para estudio</th>
                <th>Monto aprobado</th>
                <th>Estado de la solicitud</th>
                <th>Detalles del crédito</th>
            </thead>
            <tbody>
                <tr *ngFor="let c of datasource?.content">
                    <td>{{c?.id_request}}</td>
                    <td>{{c?.identification}}</td>
                    <td>{{c?.first_name}} {{c?.last_name}}</td>
                    <td>N/A</td>
                    <td>{{c?.datecreated}}</td>
                    <td>{{c?.credit_value}}</td>
                    <td>{{c?.amount_credit_study}}</td>
                    <td>{{c?.amount_approved}}</td>
                    <td>{{c?.status}}</td>
                    <td>
                        <div class="detail-icon fold" (click)="detail(c)"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav *ngIf="datasource?.pages">
            <ul class="pagination">
                <li class="page-item" *ngFor="let p of datasource?.pages, index as i"
                    (click)="setPag(i)">
                    <div [ngClass]="{'active' : i == datasource?.numberPage}"></div>
                </li>
            </ul>
        </nav>
    </div>
</div>